* {
  margin:0px;
  padding:0px;
  border:0px;
  outline:0px;
}

strong {
  font-weight:normal;
}

body {
  font-size:1em;
  font-family:Verdana, sans-serif;
  min-height:100%;
  background-color:#2196f3;
}

footer {
  left:0;
  bottom:0;
  width:100%;
  background-color:#424242;
  display:inline-block;
  color:white;
}

footer>div>a {
  color:white;
  text-decoration:none;
  margin-right:3em; 
  font-size:1.5em;
} 

footer>div>a:hover {
  color:#2196f3;
}

aside {
  float:right;
  padding:1em;
}

a.link {
  color:#2196f3;
}

a.link:visited {
  color:#2196f3;
}

div.links {
  padding-top:2em;
  padding-left:5em;
  display:inline-block;
}

header {
  background: url(assets/bucharest-header.jpg);
  background-repeat:no-repeat;
  background-size:100%;
  height:40vh;
  padding-top:2%;
  padding-right:2%;
  padding-left:2%;
  margin-bottom:5%;
}

main{
  padding-left:5%;
  padding-right:5%;
}

h1.title {
  color:white;
  padding:2%;
}

nav {
  width:100%;
  font-size:1em;
}

ul.menu, ul.submenu {
  text-indent:0px;
  position:relative;
}

ul.menu>li , ul.menu>li>ul.submenu>li{
  display:block;

  height:2em;
  font-weight:bold;
  text-align:center;
  line-height:2em;
  list-style-type:none;
  overflow:hidden;
}

ul.menu>li {
  float:left;
  width:20%;
}

ul.menu>li:nth-of-type(even) a{
  background-color:#2196f3;
}

ul.menu>li:nth-of-type(odd) a{
  background-color:#1976d2;
}

ul.submenu>li {
  width:100%;
}

ul.menu>li>a, ul.submenu>li>a {
  display:block;
  height:100%;
  text-decoration:none;
  color:white;
}

ul.menu>li>ul.submenu {
  position:relative;
  top:0px;
}

ul.menu>li>ul.submenu>li {
  border-top:0.2em solid white;
}

ul.menu>li:hover{
  overflow:visible;
}

ul.menu>li>a:hover, ul.submenu>li>a:hover {
  background:#82b1ff;
}

@media screen and (min-width:600px) and (max-width:900px) {
  ul.menu>li{
    width:33%;
  }

  ul.menu>li:hover ul.submenu {
    position:absolute;
    left:0px;
    top:2em;
    width:100vw;
  }

  ul.menu>li:hover ul.submenu>li {
    float:left;
    width:30vw;
    border:none;
  }

  ul.menu>li:hover ul.submenu>li:nth-child(n+2) {
    float:left;
    width:30vw;
    border-left:0.2em solid white;
  }
}

@media screen and (max-width:600px) { 
  ul.menu>li {
    width:100%;
    float:left;
  }
}

label, h2 {
  color:#1976d2;
  font-weight:bold;
}

article.transport>h2 {
  margin-bottom:1em;
}

abbr {
  font-weight:bold;
  font-style:italic;
  text-decoration:none;
}

.mainsection {
  border:0.1em solid #795548;
  padding:2%;
  margin:1em 0em;
  background:white;
}

.mainsection>p { 
  margin-top:1em;
}

img.poster {
  float:left;
  height:10em;
  width:7em;
  margin-right:1em;
}

li.listitem {
  list-style-type:none;
}

.inlinesection{
  display:inline-block;
  margin:1em 0em;
}

li.listitem>article>h3 {
  margin-bottom:1em;
}

form {
  background-color:#f2f2f2;
  padding:2em;
  color:black;
  border-radius:0.3em;
}

input[type=text], textarea {
  width:100%;
  border: 0.1em solid #9e9e9e;
  border-radius:0.3em;
  resize:vertical;
  padding:0.5em;
}

input[type=text], textarea:focus {
  border-color:background-color:#2196f3;
}

input[type=submit] {
  background-color:#2196f3;
  color:white;
  font-weight:bold;
  border-radius:100em;
  -moz-border-radius:100em;
  -webkit-border-radius:100em;
  border:none;
  text-transform:uppercase;
  height:6em;
  padding:1em;
  margin-top:1em;
}

textarea {
  height:15em;
  overflow:hidden;
}

label:nth-of-type(n+2) {
  margin-top:2em;
  display:block;
}

.alternate {
  display:block;
  width:100%;
  margin-bottom:2em;
  text-align:center;
}

span.odd {
  display:inline-block;
  color:#2196f3;
  font-weight:bold;
  font-size:2em;
  transform:rotate(-20deg);
  -webkit-transform:rotate(-20deg);
  -moz-transform:rotate(-20deg);
  -o-transform:rotate(-20deg);
}

section.atraction>h2 {
  text-align:center;
  margin-bottom:1em;
}

span.even {
  display:inline-block;
  color:#1976d2;
  transform:rotate(20deg);
  font-weight:bold;
  font-size:2em;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -o-transform:rotate(20deg);
}

div.objective {
  float:left;
  box-sizing:border-box;
  width:33%;
  height:15em;
  padding:1em;
}

@media screen and (min-width:600px) and (max-width:900px) {
  div.objective{
    width:45%;
  }
}

@media screen and (max-width:600px) {
  div.objective{
    width:95%;
  }
}

section.atraction {
  float:left;
}

img.picture {
  height:13em;
  box-sizing:border-box;
  float:left;
  width:100%;
}

div.card {
  display:none;
  box-sizing:border-box;
  height:0em;
  width:100%;
  background:#424242;
  color:white;
  border-radius:2em;
  padding:1em;
  text-align:center;
}

div.card>address {
  margin-top:1em;
}

div.objective:hover>div.card {
  height:13em;
  display:block;
}

div.objective:hover>img {
  height:0em;
  display:none;
}

