* {
  margin:0px;
  padding:0px;
}

body {
  font-size:1em;
  font-family:Verdana, sans-serif;
  min-height:100%;
  background-color:#2196f3;
}

footer {
  left:0;
  bottom:0;
  width:100%;
  background-color:#424242;
  display:inline-block;
  color:white;
}

footer>div>a {
  color:white;
  text-decoration:none;
  margin-right:3em; 
  font-size:1.5em;
} 

footer>div>a:hover {
  color:#2196f3;
}

aside {
  float:right;
  padding:1em;
}

a.link {
  color:#2196f3;
}

a.link:visited {
  color:#2196f3;
}

div.links {
  padding-top:2em;
  padding-left:5em;
  display:inline-block;
}

header {
  background: url(assets/bucharest-header.jpg);
  background-repeat:no-repeat;
  background-size:100%;
  height:50vh;
  padding-top:2%;
  padding-right:2%;
  padding-left:2%;
  margin-bottom:5%;
}

main{
  padding-left:5%;
  padding-right:5%;
}

h1.title {
  color:white;
  padding:2%;
}

nav {
  width:100%;
  font-size:1em;
}

ul.menu, ul.submenu {
  margin:0px;
  padding:0px;
  text-indent:0px;
}

ul.menu>li , ul.menu>li>ul.submenu>li{
  display:block;

  height:2em;
  text-align:center;
  line-height:2em;
  list-style-type:none;
  overflow:hidden;
  padding:0px;
  margin:0px;
}

ul.menu>li {
  float:left;
  width:20%;
}

ul.menu>li:nth-of-type(even) a{
  background-color:#2196f3;
}

ul.menu>li:nth-of-type(odd) a{
  background-color:#1976d2;
}

ul.submenu>li {
  width:100%;
}

ul.menu>li>a, ul.submenu>li>a {
  display:block;
  height:100%;
  text-decoration:none;
  color:white;
}

ul.menu>li>ul.submenu {
  position:relative;
  top:0px;
}

ul.menu>li>ul.submenu>li {
  border-top:0.2em solid white;
}

ul.menu>li:hover{
  overflow:visible;
}

ul.menu>li>a:hover, ul.submenu>li>a:hover {
  background:#82b1ff;
}

section>h2 {
  color:#1976d2;
}

section.mainsection {
  border:0.1em solid #795548;
  padding:2%;
  margin:1em 0em;
  background:white;
}

img.poster {
  float:left;
  height:10em;
  width:7em;
  margin-right:1em;
}

li.listitem {
  list-style-type:none;
}

.inlinesection{
  display:inline-block;
  margin:1em 0em;
}

li.listitem>article>h3 {
  margin-bottom:1em;
}


